<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crime Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- gujarat -->
  <ion-card>
    <ion-card-header>
      <h1>Gujarat</h1> 
    </ion-card-header>
    <ion-card-content>
      <canvas #GUCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <!-- bengaluru -->
  <ion-card>
    <ion-card-header>
     <h1>Bengaluru</h1> 
    </ion-card-header>
    <ion-card-content>
      <canvas #BENCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <!-- chennai -->
  <ion-card>
    <ion-card-header>
      <h1>Chennai</h1> 
    </ion-card-header>
    <ion-card-content>
      <canvas #CHCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <!-- Coimbatore -->
  <ion-card>
    <ion-card-header>
      <h1>Coimbatore</h1> 
    </ion-card-header>
    <ion-card-content>
      <canvas #COICanvas></canvas>
    </ion-card-content>
  </ion-card>
  <!-- delhi -->
  <ion-card>
    <ion-card-header>
      <h1>Delhi</h1> 
    </ion-card-header>
    <ion-card-content>
      <canvas #DELCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
