<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Select State or Union Territories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="notDataLoaded">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ion-list>
    <ion-item
      *ngFor="let data of records?.records;let i=index"
      (click)="SaveData(data.state_ut_col_2_,data.foreign_national___cracker_hacker_col_5_,data.foreign_national___cyber_terrorist_col_6_,data.indian_national___professional_computer_geek_hacker_cracker_col_16_,data.indian_national___student_col_13_,data.foreign_national___others_col_7_)"
    >
      <ion-avatar slot="start">
        <img src="{{imageset[i]}}" alt="" />
      </ion-avatar>
      <ion-label> {{data.state_ut_col_2_}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
