<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://cdn.clipart.email/66a373a8bdb44b822d2d544179b92b43_royalty-free-police-running-clip-art-vector-images-_612-612.jpeg"
            alt=""
          />
          <ion-card-header>
            <ion-card-title>Crime Records on State Offenses</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Persons arrested under offences against the state during 2016
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card [routerLink]="['/list']">
          <img
            src="https://media.giphy.com/media/3o7TKCsxgOdtO1mv2E/giphy.gif"
            alt=""
          />
          <ion-card-header>
            <ion-card-title
              >Crime Records on Cases against Women</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            Crime and Crimimal offences against Women during 2016
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card [routerLink]="['/cybercrimes']">
          <img
            src="https://media.giphy.com/media/11jQqqyF4S5MWY/giphy.gif"
            alt=""
          />
          <ion-card-header>
            <ion-card-title>Crime Records on Cyber Crime Cases</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Crime and Crimimal offences related to cyber crime during 2016
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://media.giphy.com/media/NnzfyVTkmOnW8/giphy.gif" alt="" />
          <ion-card-header>
            <ion-card-title>Statistics</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Short Satistics on the Crime and Criminals <br> with interactive graphs and charts
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
